.titulo-proyectos {
    text-align: center;
    padding: 20px;
}
// Grid Sección Proyectos
.grilla-proyectos {
    display: grid;
    grid-template-areas: 
    "viviendasUnifamiliares viviendasColectivas"
    "localesComerciales oficinas"
    "edificiosPublicos contacto-cta"
    ;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr 1fr;
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-size: cover;
        h2 {
            background-color: rgba(map-get($colores-estudio, "gris-mine-shaft"), .6);
            border-radius: 4px;
            a {
                text-decoration: none;
                color: white;
                text-shadow: 2px 2px 1px rgba(map-get($colores-estudio, "gris-mine-shaft"), 1);
                transition: 2s;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

#oficinas {
    grid-area: oficinas;
    background-image: url(../../../assets/images/caefe-1.jpg);
}

#edificiosPublicos {
    grid-area: edificiosPublicos;
    background-image: url(../../../assets/images/escuela-tecnica-1.jpg);
}

#localesComerciales {
    grid-area: localesComerciales;
    background-image: url(../../../assets/images/joyeria-lingote-1.jpg);
}

#viviendasUnifamiliares {
    grid-area: viviendasUnifamiliares;
    background-image: url(../../../assets/images/viviendas-unifamiliares/casa-rossi-1.jpg);
}

#viviendasColectivas {
    grid-area: viviendasColectivas;
    background-image: url(../../../assets/images/cabanas-vcp-1.jpg);
}

#contacto-cta {
    grid-area: contacto-cta;
    flex-direction: column;
}

@media (max-width: 767.98px) {
    .grilla-proyectos {
        display: grid;
        grid-template-areas: 
        "viviendasUnifamiliares"
        "viviendasColectivas"
        "localesComerciales"
        "oficinas"
        "edificiosPublicos"
        "contacto-cta"
        ;
        grid-template-rows: 400px 400px 400px 400px 400px 200px;
        grid-template-columns: 1fr;
        section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
        }
    }
}